declare @new_pat_id int
		,@old_pat_id int
		,@MOTCONSU_ID int
		,@new_FM_ACCOUNT_ID int
		,@old_FM_ACCOUNT_ID int

/*select
	@new_pat_id=_new_pat_id_
	,@old_pat_id=_old_pat_id_
	,@MOTCONSU_ID=_MOTCONSU_ID_
*/

select
	@new_pat_id=0
	,@old_pat_id=0
	,@MOTCONSU_ID=0

--услуги в направлениях
UPDATE DIR_SERV
SET
DIR_SERV.PATIENTS_ID = @new_pat_id
FROM DIR_SERV
inner JOIN PATDIREC ON PATDIREC.PATDIREC_ID = DIR_SERV.PATDIREC_ID
WHERE
PATDIREC.MOTCONSU_ID in (@MOTCONSU_ID)
and DIR_SERV.PATIENTS_ID=@old_pat_id

--талоны
UPDATE FM_BILL
SET
FM_BILL.PATIENTS_ID = @new_pat_id
FROM FM_BILL
WHERE
FM_BILL.MOTCONSU_ID in (@MOTCONSU_ID)
and FM_BILL.PATIENTS_ID=@old_pat_id

--услуги
UPDATE FM_BILLDET
SET
FM_BILLDET.PATIENTS_ID = @new_pat_id
FROM FM_BILLDET
inner JOIN FM_BILL FM_BILL ON FM_BILL.FM_BILL_ID = FM_BILLDET.FM_BILL_ID
WHERE
FM_BILL.MOTCONSU_ID in (@MOTCONSU_ID)
and FM_BILLDET.PATIENTS_ID=@old_pat_id

--оплата
UPDATE FM_BILLDET_PAY
SET
FM_BILLDET_PAY.PATIENTS_ID = @new_pat_id
FROM FM_BILLDET_PAY FM_BILLDET_PAY
inner join FM_BILLDET on (FM_BILLDET_PAY.FM_BILLDET_ID=FM_BILLDET.FM_BILLDET_ID)
inner JOIN FM_BILL FM_BILL ON FM_BILL.FM_BILL_ID = FM_BILLDET.FM_BILL_ID
WHERE
FM_BILL.MOTCONSU_ID in (@MOTCONSU_ID)
and FM_BILLDET_PAY.PATIENTS_ID=@old_pat_id

--счета
UPDATE fm_invoice
SET
fm_invoice.PATIENTS_ID = @new_pat_id
FROM fm_invoice
inner join FM_BILLDET_PAY on FM_BILLDET_PAY.fm_invoice_ID=fm_invoice.fm_invoice_ID
inner join FM_BILLDET on (FM_BILLDET_PAY.FM_BILLDET_ID=FM_BILLDET.FM_BILLDET_ID)
inner JOIN FM_BILL FM_BILL ON FM_BILL.FM_BILL_ID = FM_BILLDET.FM_BILL_ID
WHERE
FM_BILL.MOTCONSU_ID in (@MOTCONSU_ID)
and fm_invoice.PATIENTS_ID=@old_pat_id

SELECT 
	@old_FM_ACCOUNT_ID=FM_ACCOUNT_ID
FROM FM_ACCOUNT 
WHERE
	PATIENTS_ID =@old_pat_id

SELECT 
	@new_FM_ACCOUNT_ID=FM_ACCOUNT_ID
FROM FM_ACCOUNT 
WHERE
	PATIENTS_ID =@new_pat_id

select @new_FM_ACCOUNT_ID, @old_FM_ACCOUNT_ID