SELECT [version_begin]
      ,[version_end]
      ,[is_top]
      ,[year_11472]
      ,[month_38890]
      ,[code_08139]
      ,[version_04031]
      ,[name_56942]
      ,[datefrom_17273]
      ,[filename_28144]
  FROM [PDPStdStorage].[dbo].[t_nsiversion_38985]