CREATE TABLE [dbo].[LIS_Results](	[PATDIREC_ID] [numeric](10, 0) NULL,	[Sample_id] [numeric](10, 0) NOT NULL,	[PATIENTS_ID] [char](15) NOT NULL,	[FM_CLINK_ID] [numeric](10, 0) NULL,	[FM_CLINK_PATIENTS_ID] [numeric](10, 0) NULL,	[Order_Date] [datetime] NOT NULL,	[TST_id] [numeric](5, 0) NULL,	[TST_Abbr] [char](20) NULL,	[TST_Name] [char](100) NULL,	[Res] [char](15) NULL,	[Rem] [char](50) NULL,	[Unit_Name] [char](30) NULL,	[Ref] [varchar](4000) NULL,	[TST_Note] [varchar](4000) NULL,	[TST_Date] [datetime] NOT NULL,	[Note] [varchar](4000) NULL,	[Analyzer] [char](20) NULL,	[Flag] [bit] NOT NULL,	[WDate] [datetime] NULL,	[RDate] [datetime] NULL,	[IspolnCode] [nchar](10) NULL,	[IspolnName] [nchar](50) NULL) ON [PRIMARY]-------------------
CREATE NONCLUSTERED INDEX [idxPATDIREC_ID] ON [dbo].[LIS_Results] 
(
	[PATDIREC_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

CREATE NONCLUSTERED INDEX [idxSample_id] ON [dbo].[LIS_Results] 
(
	[Sample_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

CREATE NONCLUSTERED INDEX [idxPATIENTS_ID] ON [dbo].[LIS_Results] 
(
	[PATIENTS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

CREATE NONCLUSTERED INDEX [idxWDate] ON [dbo].[LIS_Results] 
(
	[WDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]

CREATE NONCLUSTERED INDEX [idxRDate] ON [dbo].[LIS_Results] 
(
	[RDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
